/*RESET/permet d'effacer le style par défaut imposé par le naviagateur*/
* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;

}
.w-50{
    width:50%;
}


.w-33{
    width: 33%;
}

.btn- {
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    display: inline-block;
}

.btn-secondary {
    font: size 14px;

}

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;

 width: 100%;
}

/* Classes fonctionnelles flexbox*/
/*rendre flexible un parent=aligner ses enfatnts*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;

}



.section-hero{
    background-image: url(assets/Banner.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 250px
}


.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.margin-top{
    margin-top: 100;
}
.bg-beige{
    background-color: beige;
}